<app-header></app-header>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <table datatable [dtOptions]="dtOptions" class="table">
        <thead>
          <!-- Encabezados de las columnas -->
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Frecha de cumpleaños</th>
            <th>Dirección</th>
            <th>Télefono</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas de datos -->
          <tr *ngFor="let customer of customers">
            <td>{{ customer.customer_id_number }}</td>
            <td>{{ customer.customer_name }}</td>
            <td>{{ customer.customer_birth_date }}</td>
            <td>{{ customer.customer_address }}</td>
            <td>{{ customer.customer_phone }}</td>
            <td>
              <!-- Botones de acciones -->
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <!-- Agregar más filas según los datos -->
        </tbody>
      </table>

    </div>
  </div>
</div>

<app-footer></app-footer>
