<app-header></app-header>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <button (click)="openCreateModal()" type="button" class="btn btn-primary">
        Crear
      </button>

      <table datatable [dtOptions]="dtOptions" class="table">
        <thead>
          <!-- Encabezados de las columnas -->
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Frecha de cumpleaños</th>
            <th>Dirección</th>
            <th>Télefono</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas de datos -->
          <tr *ngFor="let customer of customers; let i = index">
            <td>{{ customer.customer_id_number }}</td>
            <td>{{ customer.customer_name }}</td>
            <td>{{ customer.customer_birth_date }}</td>
            <td>{{ customer.customer_address }}</td>
            <td>{{ customer.customer_phone }}</td>
            <td>
              <!-- Botones de acciones -->
              <button (click)="openEditModal(customer, i)">Editar</button>
              <button (click)="deleteCustomer(customer, i)">Delete</button>
            </td>
          </tr>
          <!-- Agregar más filas según los datos -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ 'd-block': showModal }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
          <div class="mb-3">
            <label for="city_id" class="form-label">Ciudad</label>
            <select class="form-select" id="city_id" formControlName="city_id">
              <option *ngFor="let city of cities; let i = index" [value]="i">
                {{ city.city_name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="customer_id_number" class="form-label"
              >Número de identificación del cliente</label
            >
            <input
              type="text"
              class="form-control"
              id="customer_id_number"
              name="customer_id_number"
              formControlName="customer_id_number"
              placeholder="Ingrese el número de identificación del cliente"
            />
          </div>
          <div class="mb-3">
            <label for="customer_name" class="form-label"
              >Nombre del cliente</label
            >
            <input
              type="text"
              class="form-control"
              id="customer_name"
              formControlName="customer_name"
              placeholder="Ingrese el nombre del cliente"
            />
          </div>
          <div class="mb-3">
            <label for="customer_birth_date" class="form-label"
              >Fecha de nacimiento del cliente</label
            >
            <input
              type="date"
              class="form-control"
              id="customer_birth_date"
              formControlName="customer_birth_date"
            />
          </div>
          <div class="mb-3">
            <label for="customer_address" class="form-label"
              >Dirección del cliente</label
            >
            <input
              type="text"
              class="form-control"
              id="customer_address"
              formControlName="customer_address"
              placeholder="Ingrese la dirección del cliente"
            />
          </div>
          <div class="mb-3">
            <label for="customer_phone" class="form-label"
              >Teléfono del cliente</label
            >
            <input
              type="tel"
              class="form-control"
              id="customer_phone"
              formControlName="customer_phone"
              placeholder="Ingrese el teléfono del cliente"
            />
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
