<!DOCTYPE html>
<html>
<head>
  <title>Formulario de registro</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h3 class="text-center my-4">Registro</h3>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" required>
          </div>
          <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirmar Contraseña</label>
            <input type="password_confirmation" class="form-control" id="password_confirmation" required>
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
          <div class="text-center">
            <p>¿Ya tienes una cuenta? <a href="inicio.html">Iniciar sesión</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
